
/*gerneral*/

html, body{
	background-image: url('pictures/retina_wood.png');
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	background-color: #E8E8E8;
	margin: 0;
	padding: 0;
	font: 16px "Times New Roman", "Open Sans Light", "Georgia", "Helvetica Neue", "Helvetica", "Microsoft YaHei", "WenQuanYi Micro Hei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}



.fix-jumbotron-botton {
	margin-bottom: 0px;
}


label {
	margin-bottom: 0px;
}


/*header*/


.jumbotron-cover {
	height: 150px;
	background: url("pictures/cover1.png");
	background-size: 630px 150px;
	background-repeat: no-repeat;
	background-color: #000000;
	background-position: center;
}

@media screen and (max-width: 480px) {
	.jumbotron-cover {
		background-size: 300px 150px;
	}
}



.header-picture {
	
}

/*nav*/
.navbar-default {
  background-color: #e67e22;
  border-color: #d35400;
  border-radius: 0px;
}
.navbar-default .navbar-brand {
  color: #ffe6d1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffe6d1;
}
.navbar-default .navbar-text {
  color: #ffe6d1;
}
.navbar-default .navbar-nav > li > a {
  color: #ffe6d1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffe6d1;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffe6d1;
  background-color: #d35400;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffe6d1;
  background-color: #d35400;
}
.navbar-default .navbar-toggle {
  border-color: #d35400;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #d35400;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffe6d1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffe6d1;
}
.navbar-default .navbar-link {
  color: #ffe6d1;
}
.navbar-default .navbar-link:hover {
  color: #ffe6d1;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffe6d1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffe6d1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffe6d1;
    background-color: #d35400;
  }
}


/*homepage*/

 .homepage {
 	max-width: 700px;
 	background-image: url('pictures/retina_wood.png');
	background-repeat: repeat;
 	background-color: #F0F0F0;
 	border-radius: 3px;
 	border: solid;
 	margin-bottom: 5px;
 	margin-right: auto;
 	margin-left: auto;
 }

 @media screen and (max-width: 480px) {
	.homepage {
		width: auto;
		margin-left: 5px;
		margin-right: 5px;
 	}

 	.homepage-title{
 		text-align: center;
 	}
}

 .homepage-title {
 	
 	margin-bottom: 10px;
 }

/*video*/

hr {
	margin-top: 5px;
	width: 600px;
	margin-left: 0px;
	height: 1px;
	background-color: #CC9966;
	border: none;
	margin-right: auto;
	margin-left: auto;
}


.video-title{
	font-size: 25px;
	font-style: italic;

}

.videoFrame {
	width: 600px;
	height: 400px;
}

.video{
	margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
	html, body {
		width: auto;
	}

	.videoFrame {
		width: 300px;
		height: 200px
	}

	hr {
		width: 300px;
	}

	.video{
		max-width: 480px;
	}
}



/*main*/

.main-container-video {
	background-image: url('pictures/retina_wood.png');
	background-repeat: repeat;
	color: #669933;
	background-color: #E8E8E8;
	border-radius: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.main {
	padding-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	min-height: 500px;
}


/*pictureSingle*/

.imgAll {
	width: 300px;
	height: 200px;
}

@media screen and (max-width: 480px) {
	.imgAll {
		width: 200px;
		height: 150px;
	}
}

.picture-title {
	color: #669933;
	text-align: center;
}

.fotorama__wrap {
    margin: 0 auto;
}

.fotorama {

}

/*pictureAll*/

.left-picture, .right-picture {
	margin-top: 20px;
}

.row {
	width: 100%;
}

.left-col {
	text-align: center;
}

.right-col {
	text-align: center;
}


/*footer*/

.footer {
	height: 100px;
	position: relative;
	margin-top: -100px;
	width: 100%;
	text-align: center;
}

.jumbotron-footer {
	background-color: #E67E22;
}

.footer-word {
	font-family: "Comic Sans MS";
}


/*data*/

.dataTable {
	text-align: center;
	display: table;
    border-collapse: separate;
    border-spacing: 2px;
}

th, td {
	text-align: center;
	width:200px;
}

th {
	color: white;
	background: #006a72;
	font-size: 15px;
}

a {
	cursor: auto;
}

th a :active{
	color: white;
	text-decoration: underline;
}

.tableTitle {
	color: #669933;
	font-style: italic;
	font-size: 2em;
	padding-right: 10px;
}

.cupTitle {
	font-size: 2em;
	padding-right: 10px;
	font-style: italic;
}

.game-title {
	padding-right: 10px;
}

.point {
	font-size: 20px;
	color: #000000;
	font-family: "Comic Sans MS";
}

.cupYear {
	font-family: "Comic Sans MS";
}

.tableItem {
	margin-bottom: 40px;
}


.manage-word {
	text-align: center;
	font-family: "Comic Sans MS";
}



