
<div class="container">
<!-- title -->
	<div class="jumbotron fix-jumbotron-botton fix-jumbotron-border-radius jumbotron-cover">
		<div class="container">
			
		</div>	
  </div>
	
	<!-- nav bar -->
	<nav class="navbar navbar-default fix-navbar-border-bottom">
      
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">NTUBAGB</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li class="navTag" id="home"><a href="#home">Home</a></li>
            <li class="navTag" id="video"><a href="#video">Videos</a></li>
            <li class="navTag" id="pictureAll"><a href="#pictureAll">Pictures</a></li>
            <li class="navTag" id="dataGame"><a href="#dataGame">Data</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      
    </nav>


<script>
  setNav();
</script>